{% extends 'base_dashboard.html' %}

{% block body %}
  <h2> Lista de Alunos</h2>

  <a href="$" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Preco</th>
        <th>informações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}  
      <tr>
        <td>{{ produto.img.url }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.Marca.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.informacao }}</td>
        <td>
          <a href="#" class="btn btn-primary btn-sm">Editar</a>
          <a href="#" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}